data: ./.data 	 		# location for vorteil's persistent data storage
bind: 0.0.0.0:8000    		# address and port to serve http requests on
advertise: 0.0.0.0:8000 	# externally usable address and port
modules:
  vimages:
    storage:
      mode: local		# local | amazonS3
      local_path: ./.data/images # local storage path
  raft:
    base_directory: ./.data/raft
    bind: 127.0.0.1:9000
    # advertise: 127.0.0.1:9000
